body {
    font-family: roboto, sans-serif;
    background-color: black;
    padding: 0px 180px;

}

.section-one {
    background-color: #1F2937;
    padding: 12px 180px 60px 180px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom : 120px;
}

#logo {
    height: 36px;
    width: 36px;
}

#inspiration {
    width: 600px;
    height: auto;
}

ul {
    list-style: none;
    display : flex;
    gap : 12px;
}

.hero {
    display : flex;
    justify-content: space-between;
    flex : 0 1 50%;
    gap : 60px;

}

.hero .left-side,
.hero .right-side{
   
}


li,
p {
    font-size: 18px;
    color: #E5E7EB;

}

a {
    text-decoration: none;
    color: #F9FaF8;
    font-size: 18px;

}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FaF8;
}

button {
    background-color: #3882F6;
    padding : 12px 24px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.section-two {
    background-color: white;
    padding: 48px 180px 90px 180px;
    display: flex;
    flex-direction: column;
    
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.illustrations {
    display: flex;
    gap: 48px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item img{
    height: 180px;
    width: 180px;
    border-radius: 10px;
    margin-bottom: 24px;
    padding: 0px;
}

.item p {
    color: #1F2937;
    margin : 0px;;
    padding: 0px;
    text-align: center;
    width: 180px;

}

.section-three {
    background-color: #E5E7EB;
    padding: 90px 180px 60px 180px;
}

.section-three p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 870px;
    margin: 0px auto 0px auto;
}

.section-three .sig {
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
    margin-right : 150px;
    font-style: normal;
}

.section-four {
    background-color: white;
    padding: 60px 180px 90px 180px;
}

.section-four .container {
    background-color: #3882F6;
    display: flex;
    padding : 60px 48px 60px 48px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.section-four h3{
    color: white;
    margin : 0px;
    padding: 0px;
    text-align: left;
}

.section-four button {
    padding: 6px 24px;
    border: white solid 2px;
    width: 120px;
    height: 36px

}